<% include parts/dependencies.ejs %>
<% include parts/navbar.ejs %>

<!-- On Page Styles -->
<style>
	a:link, a:visited, a:hover {
		color: white;
	}
</style>

<br>
<br>

<div class="container">
	<h1>View Line</h1>
	<br>
	<select class="form-control" id="locationSelect">
		<option disabled selected value="inavlid">Select Location</option>
		<% for(var i = 0; i < locations.length; i++) { %>
			<option value="<%= i %>"><%= locations[i].location %></option>
		<% } %>
	</select>
	<input type="text" style="display: none" id="placeholder" value="none">
	<br>
	<!-- <div id="the-q">
		<!-- <% for(var i = 0; i < locations.length; i++) { %>
			<h3><%= locations[i].location %></h3>
			<% for(var j = 0; j < locations[i].line.length; j++) { %>
				<% if(i % 2 == 0) { %>
					<div class="row">
				<% } %>
				<div class="col-lg-6">
					<div class="line-tile">
						<div class="panel panel-line">
							<div class="panel-heading">
								<h4 class="repair-type"><%= locations[i].line[j].repairType %><a class="ticket-number pull-right" href="https://cpr-900191.repairq.io/ticket/<%= locations[i].line[j].ticketNumber %>" target="_blank"><%= locations[i].line[j].ticketNumber %></a></h4>
								</div>
							<div class="panel-body">
								<h4 class="device-name">Device Model: <span class="text-colored"><%= locations[i].line[j].deviceModel %></span></h4>
								<h5 class="started-by">Started by: <%= locations[i].line[j].started %><h5>
								<p>Promise Time: <strong><%= locations[i].line[j].promiseTime %></strong><p>
								<br />
								<div class="row">
										<div class="col-lg-6">
											<a href="#" class="btn btn-primary btn-md action_buttons-start btn-block" id="action_button_start-<%= locations[i].location %>-<%= locations[i].line[j].ticketNumber %>" data-location="<%= locations[i].location %>" data-ticketNumber="<%= locations[i].line[j].ticketNumber %>"><span class="glyphicon glyphicon-triangle-right"></span>&nbsp;&nbsp;Start</a>
										</div>
										<div class="col-lg-6">
											<a href="#" class="action_buttons-complete btn btn-success btn-md btn-block" id="action_button_complete-<%= locations[i].location %>-<%= locations[i].line[j].ticketNumber %>" data-location="'<%= locations[i].location %>" data-ticketNumber="<%= locations[i].line[j].ticketNumber %>"><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;Complete</a>
										</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<% if(i % 2 != 0) { %>
					</div>
				<% } %>
			<% } %> -->

			<div class="q" id="q-index-<%= i %>" style="display: none;">
				<h3><%= locations[i].location %></h3>
				<br>
				<div class="panel panel-default">
					<div class="panel-heading">The Q</div>
					<table class="table">
						<thead>
							<tr>
								<th>Ticket #</th>
								<th>Device</th>
								<th>Repair</th>
								<th>Promise Time</th>
								<th>Started by:</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							<% for(var j = 0; j < locations[i].line.length; j++) { %>
								<tr>
									<td><a class="ticket-number" href="https://cpr-900191.repairq.io/ticket/<%= locations[i].line[j].ticketNumber %>" target="_blank"><%= locations[i].line[j].ticketNumber %></a></td>
									<td><%= locations[i].line[j].deviceMake+" "+locations[i].line[j].deviceModel %></td>
									<td><%= locations[i].line[j].repairType %></td>
									<td><%= locations[i].line[j].promiseTime %></td>
									<td><%= locations[i].line[j].started %></td>
									<td>
										<a href="#" class="btn btn-primary btn-sm action_buttons-start" id="action_button_start-<%= locations[i].location %>-<%= locations[i].line[j].ticketNumber %>" data-location="<%= locations[i].location %>" data-ticketNumber="<%= locations[i].line[j].ticketNumber %>"><span class="glyphicon glyphicon-triangle-right"></span>&nbsp;&nbsp;Start</a>
										<a href="#" class="action_buttons-complete btn btn-success btn-sm" id="action_button_complete-<%= locations[i].location %>-<%= locations[i].line[j].ticketNumber %>" data-location="'<%= locations[i].location %>" data-ticketNumber="<%= locations[i].line[j].ticketNumber %>"><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;Complete</a>
									</td>
								</tr>
							<% } %>
						</tbody>
					</table>
				</div>
			</div>
		<% } %>
	</div>
</div>

<!-- Loading Page-Only Scripts -->
<script type="text/javascript" src="/js/home/line.js"></script>

<script type="text/javascript">
	if(localStorage.storeLocation != null || localStorage.storeLocation != undefined) {
		for(var i = 0; i < document.getElementById("locationSelect").options.length; i++) {
			if(document.getElementById("locationSelect").options[i].text == localStorage.storeLocation) {
				var iPrime = i - 1;
				$("#locationSelect").val(iPrime);
				$("#placeholder").val(iPrime);
				$("#q-index-"+iPrime).show();
				break;
			}
 		}
	}
</script>
