<% include parts/dependencies.ejs %>
<% include parts/navbar.ejs %>

<br>
<br>

<div class="container">
	<h1>View Line</h1>
	<br>
	<select class="form-control" id="locationSelect">
		<option disabled selected value="inavlid">Select Location</option>
		<% for(var i = 0; i < locations.length; i++) { %>
			<option value="<%= i %>"><%= locations[i].location %></option>
		<% } %>
	</select>
	<input type="text" style="display: none" id="placeholder" value="none">
	<br>
	<div id="the-q">
		<% for(var i = 0; i < locations.length; i++) { %>
			<div id="q-index-<%= i %>" style="display: none;">
				<h3><%= locations[i].location %></h3>
				<br>
				<div class="panel panel-default">
					<div class="panel-heading">The Q</div>
					<table class="table">
						<thead>
							<tr>
								<th>Ticket #</th>
								<th>Device</th>
								<th>Repair</th>
								<th>Promise Time</th>
								<th>Started by:</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							<% for(var j = 0; j < locations[i].line.length; j++) { %>
								<tr>
									<td><% if(locations[i].line[j].urgent == true) {%> <span class="label label-danger"><%= locations[i].line[j].ticketNumber %></span> <%} else {%> <span class="label label-default"><%= locations[i].line[j].ticketNumber %></span> <%}%></td>
									<td><%= locations[i].line[j].deviceMake+" "+locations[i].line[j].deviceModel %></td>
									<td><%= locations[i].line[j].repairType %></td>
									<td><%= locations[i].line[j].promiseTime %></td>
									<td><%= locations[i].line[j].started %></td>
									<td>
										<a href="#" class="btn btn-primary btn-sm action_buttons-start" id="action_button_start-<%= locations[i].location %>-<%= locations[i].line[j].ticketNumber %>" data-location="<%= locations[i].location %>" data-ticketNumber="<%= locations[i].line[j].ticketNumber %>"><span class="glyphicon glyphicon-triangle-right"></span>&nbsp;&nbsp;Start</a>
										<a href="#" class="action_buttons-complete btn btn-success btn-sm" data-indexes="<%= i %>-<%= j %>"><span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;Complete</a>
									</td>
								</tr>
							<% } %>
						</tbody>
					</table>
				</div>
			</div>
		<% } %>
	</div>
</div>

<!-- Loading Page-Only Scripts -->
<script type="text/javascript" src="/js/home/line.js"></script>
